@model MvcKutuphane.Models.Entity.TBLDUYURULAR
@{
    ViewBag.Title = "DuyuruDetay";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("DuyuruGuncelle", "Duyuru", FormMethod.Post))  //form da butona basılığında kategori controllerın daki kategoriguncelle actionresultı çalıştır
{<div style="margin-bottom:15px"></div>
 <div class="form-group">
     <label>ID</label>
     @Html.TextBoxFor(k => k.ID, new { @class = "form-control" }) @*ID si getirildi*@
     <br />
     <label>DUYURU BAŞLIĞI</label>  @*elle yazılmış hali*@
     @Html.TextBoxFor(k => k.KATEGORI, new { @class = "form-control" }) @*AD getirildi*@
     <br />
     <label>DUYURU İÇERİĞİ</label>  @*elle yazılmış hali*@
     @Html.TextAreaFor(k => k.ICERIK, new { @class = "form-control" })
     <br />
     <label>DUYURU TARİHİ</label>  @*elle yazılmış hali*@
     @Html.TextBoxFor(k => k.TARIH, new { @class = "form-control" })
 </div>
    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>

}
