@model MvcKutuphane.Models.Entity.TBLKATEGORI
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post"> @*form oluştuk ve bu form sayfada tıklama olduğu zaman işleme alınacak*@
        <div>
            <label>Kategori Adı</label>
            <input type="text" class="form-control" name="AD" />  @*buraya veritabanındaki sütun ismi gelicek*@
        </div>
        <div style="margin-top:15px">
            <button class="btn btn-info" id="Btn1">Kategoriyi Ekle</button>

        </div>

</form>

