@using MvcKutuphane.Models.Entity;
@model List<TBLDUYURULAR>
@{
    ViewBag.Title = "Duyurular";
    Layout = "~/Views/Shared/_LayoutPanelim.cshtml";
}

<table class="table table-bordered">

    <tr>
        <th>BAŞLIK</th>
        <th>TARİH</th>
        <th>İÇERİK</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var duyuru in Model)  //foreach döngüsü ile model gezilip veriler okunuyor

    {
    <tr>
        <td>@duyuru.KATEGORI</td>
        <td>@Convert.ToDateTime(duyuru.TARIH).ToString("dd/MM/yyyy")</td>
        <td>@duyuru.ICERIK</td>
    </tr>
    }
</table>

