@using MvcKutuphane.Models.Entity
@model List<TBLPERSONEL>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Personeller</h2>
<div></div>


<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>Personel Adı</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var personel in Model)  //foreach döngüsü ile model gezilip veriler okunuyor

    {
<tr>
    <td>@personel.ID</td> @*ID ve ad çağırılıyor ve listeleniyor*@
    <td>@personel.PERSONEL</td>
    <td>@Html.ActionLink("SİL", "PersonelSil", new { id = personel.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstiyor musunuz?')" })</td>
    <td><a href="/Personel/PersonelGetir/@personel.ID" class="btn btn-success">GÜNCELLE</a></td>
</tr>
    }

</table>

<a href="/Personel/PersonelEkle" class="btn btn-primary">Yeni Personel Ekle</a>
